openapi: 3.0.0
info:
  title: Cloud Intelligence Platform API
  version: 1.0.0
  description: Comprehensive API for the Cloud Intelligence Platform
servers:
- url: https://api.cloudintelligence.com/v1
  description: Production server
- url: https://staging-api.cloudintelligence.com/v1
  description: Staging server
paths:
  /workloads:
    get:
      summary: List all workloads
      description: Retrieve a list of all workloads with optional filtering
      tags:
      - workloads
      deprecated: false
      parameters:
      - name: limit
        in: query
        required: false
        description: Maximum number of results
        schema:
          type: integer
        example: 100
      - name: offset
        in: query
        required: false
        description: Number of results to skip
        schema:
          type: integer
        example: 0
      - name: status
        in: query
        required: false
        description: Filter by status
        schema:
          type: string
          enum:
          - pending
          - running
          - completed
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                workloads: []
                total: 0
        '400':
          description: Bad request
        '401':
          description: Unauthorized
    post:
      summary: Create a new workload
      description: Create a new workload for scheduling
      tags:
      - workloads
      deprecated: false
      parameters:
      - name: workload
        in: body
        required: true
        description: Workload configuration
        schema:
          type: object
      responses:
        '201':
          description: Workload created successfully
        '400':
          description: Invalid workload configuration
        '401':
          description: Unauthorized
  /workloads/{workload_id}:
    get:
      summary: Get workload by ID
      description: Retrieve detailed information about a specific workload
      tags:
      - workloads
      deprecated: false
      parameters:
      - name: workload_id
        in: path
        required: true
        description: Workload identifier
        schema:
          type: string
      responses:
        '200':
          description: Workload details
        '404':
          description: Workload not found
        '401':
          description: Unauthorized
  /costs/summary:
    get:
      summary: Get cost summary
      description: Retrieve cost summary for specified time period
      tags:
      - costs
      deprecated: false
      parameters:
      - name: start_date
        in: query
        required: true
        description: Start date (ISO format)
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        required: true
        description: End date (ISO format)
        schema:
          type: string
          format: date
      - name: provider
        in: query
        required: false
        description: Filter by cloud provider
        schema:
          type: string
      responses:
        '200':
          description: Cost summary
          content:
            application/json:
              example:
                total_cost: 1234.56
                breakdown: {}
        '400':
          description: Invalid date range
        '401':
          description: Unauthorized
  /budgets:
    post:
      summary: Create a new budget
      description: Create a new budget with alerts and thresholds
      tags:
      - budgets
      deprecated: false
      parameters:
      - name: budget
        in: body
        required: true
        description: Budget configuration
        schema:
          type: object
      responses:
        '201':
          description: Budget created successfully
        '400':
          description: Invalid budget configuration
        '401':
          description: Unauthorized
  /metrics/{resource_id}:
    get:
      summary: Get performance metrics
      description: Retrieve performance metrics for a specific resource
      tags:
      - monitoring
      deprecated: false
      parameters:
      - name: resource_id
        in: path
        required: true
        description: Resource identifier
        schema:
          type: string
      - name: start_time
        in: query
        required: false
        description: Start time (ISO format)
        schema:
          type: string
          format: date-time
      - name: end_time
        in: query
        required: false
        description: End time (ISO format)
        schema:
          type: string
          format: date-time
      - name: metric_type
        in: query
        required: false
        description: Type of metric
        schema:
          type: string
          enum:
          - cpu
          - memory
          - network
          - disk
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              example:
                metrics: []
                resource_id: ''
        '404':
          description: Resource not found
        '401':
          description: Unauthorized
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: integer
          description: Error code
        details:
          type: object
          description: Additional error details
      required:
      - error
      - code
    Workload:
      type: object
      properties:
        workload_id:
          type: string
        name:
          type: string
        cpu_request:
          type: number
        memory_request:
          type: number
        priority:
          type: integer
        cost_constraints:
          $ref: '#/components/schemas/CostConstraints'
        performance_requirements:
          $ref: '#/components/schemas/PerformanceRequirements'
      required:
      - workload_id
      - name
      - cpu_request
      - memory_request
    CostConstraints:
      type: object
      properties:
        max_hourly_cost:
          type: number
        max_monthly_budget:
          type: number
        cost_optimization_preference:
          type: string
          enum:
          - low
          - medium
          - high
    PerformanceRequirements:
      type: object
      properties:
        min_cpu_performance:
          type: number
        max_latency_ms:
          type: integer
        availability_requirement:
          type: number
    VirtualMachine:
      type: object
      properties:
        vm_id:
          type: string
        provider:
          type: string
        instance_type:
          type: string
        cpu_cores:
          type: integer
        memory_gb:
          type: number
        hourly_cost:
          type: number
        availability_zone:
          type: string
        status:
          type: string
          enum:
          - available
          - busy
          - maintenance
      required:
      - vm_id
      - provider
      - instance_type
      - cpu_cores
      - memory_gb
    Budget:
      type: object
      properties:
        budget_id:
          type: string
        name:
          type: string
        amount:
          type: number
        period:
          type: string
          enum:
          - monthly
          - quarterly
          - yearly
        alert_thresholds:
          type: array
          items:
            type: number
        current_spend:
          type: number
      required:
      - budget_id
      - name
      - amount
      - period
    PerformanceMetrics:
      type: object
      properties:
        resource_id:
          type: string
        timestamp:
          type: string
          format: date-time
        cpu_utilization:
          type: number
        memory_utilization:
          type: number
        network_io:
          type: number
        disk_io:
          type: number
      required:
      - resource_id
      - timestamp
    SimulationResult:
      type: object
      properties:
        simulation_id:
          type: string
        status:
          type: string
          enum:
          - running
          - completed
          - failed
        total_cost:
          type: number
        resource_efficiency:
          type: number
        sla_compliance:
          type: number
        recommendations:
          type: array
          items:
            type: string
      required:
      - simulation_id
      - status
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
- ApiKeyAuth: []
- BearerAuth: []
